main{
    margin-top: 1em;
    margin-bottom: 1em;
}

 .window{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} 
.search-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.search-container{
    display: flex;
    width: 100%;
}

.search-container .search-field{
    width: 80%;
}

.search-container .search-button{
    width: 20%;
    margin-left: -0.5em;
}

.login.signup{
    border: #ccc solid 2px;
    border-radius: 5px;
    margin-left: 5em;
   
}

.login{
    position: relative;
    left: 5em;

}

.signup{
    position: relative;
    left: 8em;
}

.search-container a{
    text-decoration: none;
}


#showProducts{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.container{
 text-align: center;
 width: 15%;
 margin:0.5em;
 padding: 2.5em;
 border: 2px solid #ccc;
 border-radius: 5px;
 overflow: hidden;
}

.container a{
    text-decoration: none;
    /* border:2px solid #ccc; */
    border-radius: 5px;
    padding: 0.5em;

}
.container .title{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.container img{
    width: 40%;
}